/*CSS Notes*/
/*
row-form has padding, row-fluid has none.
*/

.modal {
  padding-top: 8px;
}

.largerText {
  font-size: 14px;
  //font-weight: bold;
}

.spacer-right {
  float: left;
  margin-right: 10px;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */

.loadingframe{
  display:    none;
  position:   fixed;
  z-index:    99999;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, .8 )
  url('../../images/admin/loaders/2d_4.gif')
  50% 50%
  no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
  overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .loadingframe {
  display: block;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year { width: 40%; height: 20px;}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { top: 11px; }
.birthdatepicker { width: 78px!important; }

.btn-success {color: #ffffff !important;}

.inlineLoadingFrame {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 410px;
  background: rgba( 255, 255, 255, .8 ) url('../../images/admin/loaders/2d_4.gif') 50% 50% no-repeat;
  border-radius: 5px;
}
.inlineLoadingFrame .uploadingText {
  text-align: center;
  font-weight: bold;
}

.boxedInfo {
  border: 3px solid #999999;
  padding: 4px 10px;
  color: #999999;
  text-align: center;
  height: auto;
}

.fileupload .thumbnail {
}

.fileupload .thumbnail > .emptyInfo {
  position: relative;
  top: 50%;
  margin-top: -22px;
  text-align: center;
  height:44px;
}

.datepicker {
  width: 87px !important;
}

.icon3-correct {
  background-image: url('../../images/admin/icons/others/iconCorrect.png');
  width: 13px;
  height: 11px;
}
.icon3-crown {
  background-image: url('../../images/admin/icons/others/iconCrown.png');
  width: 17px;
  height: 10px;
}
.icon3-like {
  background-image: url('../../images/admin/icons/others/iconLike.png');
  width: 13px;
  height: 11px;
}
.icon2-logo {
  background-image: url('../../images/admin/icons/others/logo-small.png');
}
.icon2-question {
  background-image: url('../../images/admin/icons/others/iconQuestion.png');
}
[class^="icon2-"], [class*=" icon2-"] {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-top:1px;
  vertical-align: middle;
}

[class^="icon3-"], [class*=" icon3-"] {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-top:0;
  vertical-align: middle;
}

.campaignThumbnail {
  background: #ddd;
  border: 1px solid #ddd;
}

.row-form [class^="span"] > div { margin-bottom: 7px; }

// hr separator
.separator {
  margin:0;
  clear: both;
}

.block-fluid2 {
  background-color: #fff;
}

.block-fluid2 .row-form {
  border: none;
}

fieldset {
  background-color: #f5f5f5;
  border: 1px solid #dddddd;
  padding: 10px;
}
fieldset hr {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #fff;
}

.marginless {
  margin:0;
}

.strong {
  font-weight: bold;
}

// Somehow the default margin bottom for textarea and input text are different.
.row-fluid > div > textarea, .row-fluid > span > textarea {
  margin-bottom: 3px;
}

// Label displayed on top of input element
label.topLabel {
  line-height: normal;
  display: block;
  margin-bottom: 1px;
}

label {
  display: inline-block;
}

.step { width: auto; }

.toolbar.bottom {
  clear: both;
}

table img {
  max-height: 80px;
}

#excels .file{
  float: right;
  margin-right: 10px;
  border-radius: 3px;
  padding: 0 5px;
  cursor: default;
}

#excels .file .download {
  visibility: hidden;
  background-image: url("../../images/admin/glyphicons-halflings-white.png");
}

#excels .file:hover .download {
  visibility: visible;
}

#excels .file .delete {
  visibility: hidden;
  background-image: url("../../images/admin/glyphicons-halflings-white.png");
}

#excels .file:hover .delete {
  visibility: visible;
}

#excels .file:hover {
  background-color: #57a957;
  color: #FFFFFF;
  text-shadow: none;
}

#excels .file:hover i {
  background-image: url(../../images/admin/icons/iconss.png);
}