@import "template";

// ==========================================================================
// Variables
// ==========================================================================



// ==========================================================================





// ==========================================================================
// DEFAULT
// ==========================================================================

.main-header { margin-bottom: 40px; }

.header-bg {
	background: image-url('introduction-header-bg.jpg') 0 0 no-repeat;
	height: 285px;
}


// ==========================================================================





// ==========================================================================
// MAIN CONTAINER
// ==========================================================================

.container-block {
	.page-title {
		background: image-url('introduction-title.png') 0 50% no-repeat;
		padding-left: 140px;

		&.articles { background-image: image-url('introduction-articles-title.png'); }
	}
}

.maybethisisloading {
	background: image-url('something-idk-cant-read.png') 50% 50% no-repeat;
	min-height: 150px;
}

// ==========================================================================

.introduction-articles {
	& > article {
		margin-bottom: 30px;

		header {
			margin-bottom: 5px;

			h1 {
				color: #22A79C;
				font-size: 16px;
				font-weight: normal;
				margin: 0;
			}
		}
	}
}

// ==========================================================================





// ==========================================================================
// IE HACKS
// ==========================================================================



// ==========================================================================





// ==========================================================================
// MODERNIZR HACKS
// ==========================================================================



// ==========================================================================





// ==========================================================================
// IMPORTS
// ==========================================================================



// ==========================================================================





// ==========================================================================
// MEDIA QUERIES
//
// EXAMPLE Media Queries for Responsive Design.
// Theses examples override the primary ('mobile first') styles.
// Modify as content requires.
// ==========================================================================

@media only screen and (max-width: 1024px) {

}

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

// ==========================================================================

