@import "template";

// ==========================================================================
// Variables
// ==========================================================================



// ==========================================================================





// ==========================================================================
// DEFAULT
// ==========================================================================



// ==========================================================================





// ==========================================================================
// MAIN CONTAINER
// ==========================================================================

.container-block {
	.page-title {
		background: image-url('join-alliance-title.png') 0 50% no-repeat;
		padding-left: 140px;
	}


	.articles {
		h2 {
			color: #22A79C;
			font-size: 16px;
			font-weight: normal;
			margin: 0 0 10px;
		}

		& > article { margin-bottom: 20px; }
	}
}

// ==========================================================================





// ==========================================================================
// IE HACKS
// ==========================================================================



// ==========================================================================





// ==========================================================================
// MODERNIZR HACKS
// ==========================================================================



// ==========================================================================





// ==========================================================================
// IMPORTS
// ==========================================================================



// ==========================================================================





// ==========================================================================
// MEDIA QUERIES
//
// EXAMPLE Media Queries for Responsive Design.
// Theses examples override the primary ('mobile first') styles.
// Modify as content requires.
// ==========================================================================

@media only screen and (max-width: 1024px) {

}

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

// ==========================================================================

