@import 'compass';

$width: 760px;

$fontFamily: 'Helvetica', 'Arial', sans-serif;
$fontFamily2: 'TradeGothicLT-Bold', 'Arial', 'Helvetica', sans-serif;

$normal : 12px;
$medium : 14px;
$smaller : 11px;
$small : 10px;
$larger: 16px;
$large: 18px;
$extraLarge: 24px;

$bg1 : #FFFFFF;
$bg2 : #C62026; // Header and main site theme, for regular buttons etc.
$bg3 : #A21D21; // Darker version of theme, can be used to button hover, for example.
$bg4 : #f9f9f9; // Panel bg;
$bg5 : #ffa48b; //#66B0FF;
$bg6 : #F6F6F6;
$bg7 : #EBEDF0;
$bg8 : #FF341A;
$bg9 : #9d0000;
$bg10: #C4F2B0;
$bg11: #C6C6C6; // disabled button
$bg12: #F42F6C;
$bg13: #FF7B97;
$bg14: #FFA4C5;
$bg15: #E5E5E5; //campaign entry view, bg imageWrapper

$bg16: #f6f6f6; // Sponsor bg in campaign detail
$bg17: #ededed; // Sponsor socmed bg in campaign detail
$bg18: #656565; // button prev & next in campaign detail
$bg19: #d9d9d9; // Entry area in campaign detail
$bg20: #898989; // button back campaign entry view
$bg21: #982300; // campaign one step closer

$color1 : #000000;
$color2 : #FFFFFF;
$color3 : #c1c1c1;//#99CAFF;
$color4 : #A21D21;//#003E80;
$color5 : #C62026;//#007BFF;
$color6 : #58595B;
$color7 : #AAAAAA;
$color8 : #FF341A;
$color9 : #4CF404;
$color10: #3B5999; // Alternative link - used in sponsor links, for example.
$color11: #ffafa2;
$color12: #666; //Disabled color
$color13: #656565;// campaign detail pagination
$color14: #982300;//campaign detail pagination current page

$borderColor1 : #A11D21;//#3395FF;
$borderColor2 : #C62026;//#005CBF;
$borderColor3 : #EC1E24; // hover color in fb album selector.
$borderColor4 : #D8D8D8;
$borderColor5 : #AAAAAA; // images in fbAlbum selection border color
$borderColor6 : #4CF404;
$borderColor7 : #919191; // Used in border bottom and top
$borderColor8 : #4b4b4b;
$borderColor9 : #FFFFFF;
$borderColor10: #646464; // Campaign entry wrapper's pages
$borderColor11: #CCCCCC;
$borderColor12: #F6F6F6; // Used in plain button
$borderColor13: #d9d9d9; // Panel border
$borderColor14: #dcdcdc; // Column borders' colors for campaign detail page.
$borderColor15: #7f7f7f;

// Used in search bar
@mixin gradient1 {//#005cbf #003e80
  background: #fe2300; /* Old browsers */
  background: -moz-linear-gradient(top,  #fe2300 0%, #a50100 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fe2300), color-stop(100%,#a50100)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fe2300 0%,#a50100 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fe2300 0%,#a50100 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fe2300 0%,#a50100 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fe2300 0%,#a50100 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe2300', endColorstr='#a50100',GradientType=0 ); /* IE6-9 */
}

// Used in dropdown list and some titles
@mixin gradient2{
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #DEDEDE 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#DEDEDE)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#DEDEDE 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#DEDEDE 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#DEDEDE 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#DEDEDE 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#DEDEDE',GradientType=0 ); /* IE6-9 */
}

@mixin gradientDisabled{
  background: #ddd; /* Old browsers */
  background: -moz-linear-gradient(top, #ddd 0%, #888 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ddd), color-stop(100%,#888)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ddd 0%,#888 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ddd 0%,#888 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ddd 0%,#888 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ddd 0%,#888 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddd', endColorstr='#888',GradientType=0 ); /* IE6-9 */
}

@mixin gradient5{
  background: #fc1e1f; /* Old browsers */
  background: -moz-linear-gradient(top,  #fc1e1f 0%, #a70f00 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fc1e1f), color-stop(100%,#a70f00)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fc1e1f 0%,#a70f00 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fc1e1f 0%,#a70f00 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fc1e1f 0%,#a70f00 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fc1e1f 0%,#a70f00 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc1e1f', endColorstr='#a70f00',GradientType=0 ); /* IE6-9 */
}

@mixin boxShadow1{
  box-shadow: 2px 2px 8px #AAAAAA;
  -o-box-shadow: 2px 2px 8px #AAAAAA;
  -moz-box-shadow: 2px 2px 8px #AAAAAA;
  -webkit-box-shadow: 2px 2px 8px #AAAAAA;
  -mx-box-shadow: 2px 2px 8px #AAAAAA;
}

@mixin borderRadius($radius){
  border-radius: $radius;
  -o-border-radius: $radius;
  -ms-border-radius: $radius;
  -moz-border-radius: $radius;
  -khtml-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin fbFont{
  font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
  font-size: 11px;
}

@import 'files/_reset';
@import 'files/_grid';

@import 'files/jquery-ui';
@import 'files/validation/validationEngine.jquery';

@import 'files/_main';