body{
  width: 100%;
  font-family: $fontFamily;
  font-size: $normal;
}

//DEFAULT SETTINGS
a{
  color: $color4;

  &:hover{
	text-decoration: underline;
  }
}

h1 {
  margin-top: 10px;
}

//DEFAULT CLASS
pre{
  white-space: pre-wrap;
}
.pre {
  white-space: pre;
}

.left {
  float: left;
  position: relative;
}
.right {
  float: right;
  position: relative;
}
.borderBottom{
  border-bottom: solid thin $borderColor7;
}
.borderTop{
  border-top: solid thin $borderColor7;
}
.marginBottom{
  margin-bottom: 15px;
}
.marginTop{
  margin-top: 15px;
}
.padding{
  padding: 10px;
}
.txtCenter{
  text-align: center;
}
.txtRight{
  text-align: right;
}
.txtLeft{
  text-align: left;
}
.bold, .strong{
  font-weight: bold;
}
.thin{
  font-weight: normal;
}

.clearBoth {
  clear: both;
}
.centerWrapper{
  margin: auto;
  width: $width;
  position: relative;
}
.box{
  border: solid thin $borderColor4;
  padding: 5px;
}

.relative{
  position: relative;
}

.grey {
  color: $color12;
}

.red {
  color: $color5;
}

h1.title, h2.title, h3.title, h4.title, h5.title, h6.title{
  font-weight: bold;
  text-transform: uppercase;
  font-size: $large;

  *{
	font-weight: bold;
  }

  &+ .subtitle{
	font-size: $larger;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 30px;
  }
}
h1.title{
  padding: 0 10px;
}
ul.horizontalMenu{
  list-style: none;

  li{
    display: inline-block;
    border-right: solid thin $borderColor5;

    a{
      padding: 3px 10px;
      display: block;
    }
  }

  li:last-child{
    border-right: none;
  }
}

.borderedBox{
  background: $bg1;
  color: $color1;
  padding: 5px 10px;
  border: solid thin $borderColor5;
  height: 150px;
  overflow-Y: auto;
}

.mainModal{
  display: none;
  background: rgba(255, 255, 255, 0.6);
  z-index: 100000;
  position:fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.loading{
  background: url("../images/ajax-loader.gif") center no-repeat;
  display: inline-block;
  width: 40px;
  height: 40px;
  vertical-align: middle;

  &.fullWidth{
    width: 100%;
  }

  &.fullHeight{
    height: 100%;
  }
}

.loadingWrapper{
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 10000;
  position: absolute;

  &.fullscreen{
    position: fixed;
  }
}

span.select{
  background: url("../images/iconDropdown.png") no-repeat;
  background-position: 95% 50%;
  background-position: right 5px center;
  padding: 2px 0px 2px 7px;
  display: inline-block;
  @include borderRadius(0px);
  border: solid thin $borderColor4;
  margin: 0; // Put inside <div class="row"> to give margin bottom instead of changing directly.
  select{
	border: none;
	-webkit-appearance: none;
	-moz-appearance: window;
	width: 100%;
	padding-right: 20px;
	background: transparent;
  }
}

input[type="text"] {
  border: solid thin $borderColor4;
  padding: 4px 10px;
  @include borderRadius(0px);
  -webkit-appearance: initial;
}

div.checkboxGroup {
  line-height: 29px;
  height: 29px;
  label {
	float: left;
	margin-right: 20px;
	margin-left: 5px;
  }
}

// Display button with kioo image.
.buttonWithKioo {
  background: url('../images/buttonWithKioo.png') no-repeat;
  width: 160px;
  height: 47px;
  border: none;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  padding-left: 2px;
  padding-right: 40px;
  padding-top: 4px;
  cursor: pointer;

  &.fontMedium{
	font-size: $medium;
  }
}

//default input size
input, select{
  &.huge{ width: 90%; }
  &.xxlarge{ width: 80%; }
  &.xlarge{ width: 70%; }
  &.large{ width: 60%; }
  &.medium{ width: 50%; }
  &.small{ width: 40%; }
  &.mini{ width: 30%; }
}

//DEFAULT TEMPLATE
.login{
  width: 168px;
  height: 100px;
  position: fixed;
  float: right;
  top: 0px;
  right: 20px;
  z-index: 10000;
}
.head{
  .logo{
  }

  .toplogo{
	background: $bg2;

    .logo, .search, .share{
      display: inline-block;
    }

    .logo{
      width: 204px;
      height: 41px;
      margin-top: 13px;
    }
  }

  .topbar{
    background: $bg3;
    border-bottom: solid 2px $borderColor2;
    color: $color2;
    font-family: $fontFamily;
    font-size: $smaller;

    a{
      color: $color2;
    }

    .avatar{
      width: 18px;
      height: 18px;
      display: inline-block;
      margin: 0 5px;
    }

    .bottomLine{
      display: block;
      width: 100%;
      height: 2px;
      background: $borderColor1;
      clear: both;
    }
  }

  .topbar.big{
    background: $bg2;
    border-bottom: solid 2px $borderColor1;
    font-size: $smaller;

	a{
	  &:hover{
		text-decoration: none;
	  }
	}

    .centerWrapper{
      height: 40px;
      line-height: 15px;
	  text-align: center;

      &> div{
        height: 30px;
        padding: 5px 0;
      }

      a{
        display: block;
        border-bottom: solid 3px transparent;

        transition: border-color 0.5s;
        -o-transition: border-color 0.5s;
        -ms-transition: border-color 0.5s;
        -moz-transition: border-color 0.5s;
        -khtml-transition: border-color 0.5s;
        -webkit-transition: border-color 0.5s;

        &:hover{
          border-bottom: solid 3px $borderColor9;
        }
      }

      .account, .attended, .ongoing, .win, div.home, div.fb{
        border-right: solid 1px $borderColor1;
        box-shadow: 1px 0px $borderColor3;
        -o-box-shadow: 1px 0px $borderColor3;
        -ms-box-shadow: 1px 0px $borderColor3;
        -moz-box-shadow: 1px 0px $borderColor3;
        -khtml-box-shadow: 1px 0px $borderColor3;
        -webkit-box-shadow: 1px 0px $borderColor3;
      }

      .bold{
        font-size: $normal;
        font-weight: bold;
      }
    }
    .bottomLine{
      background: $borderColor3;
    }
  }
}

#dialogTemplate {
  display: none;
}